<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Añadir Trabajador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>➕ Añadir nuevo trabajador</h1>
        <form action="/añadir-trabajador" method="post">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="rol">Rol:</label><br>
            <input type="text" id="rol" name="rol" required><br><br>

            <button type="submit">Guardar</button>
        </form>

        <br>

        <a href="/trabajadores">
            <button>👥 Ver trabajadores</button>
        </a>

        <a href="/">
            <button>🏠 Volver al inicio</button>
        </a>
    </div>
</body>
</html>
